{% load static %}
{% load humanize %}
{% block footer %}
<div class="uk-container">
  <footer class="footer exo" style="padding: 15px 10px 0px 10px;">
    <div class="footer-addr">
      <h5 style="margin: 20px 0 10px 0!important;"><span class="nav-title" uk-icon="icon: info"> </span> ABOUT</h5>
      <address>
        We are open source project, where we collect health data from people living in different parts of the world and will provide these data to Researchers and Developers for common good.
      </address>
    </div>

    <ul class="footer-nav">
      <li class="nav-item">
        <h5 style="margin: 0 0 10px 0;"><span class="nav-title" uk-icon="icon: social"> </span> SOCIAL</h5>

        <ul class="nav-ul">
          <li>
            <a href="https://twitter.com/health_of_india"> Twitter</a>
          </li>

          <li>
            <a href="https://t.me/joinchat/HjfL_kk3gxSQ7MQnbTFYyQ">Telegram Group</a>
          </li>

          <li>
            <a href="mailto:info@thepodnet.com">info@thepodnet.com</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <h5 style="margin: 0 0 10px 0;"><span class="nav-title" uk-icon="icon: github"> </span> GITHUB</h5>

        <ul class="nav-ul">
          <li>
            <a href="https://github.com/meticulousCraftman/Fight-Covid19">Web App</a>
          </li>

          <li>
            <a href="https://github.com/mornville/Fight-Covid19-App">Mobile App</a>
          </li>

        </ul>
      </li>
    </ul>

    <div class="legal" style="text-align:center;border-top: 1.2px solid #b1b0b0;padding:20px">
      <p style="text-align:center;margin:0;">Copyright &copy; 2020 - All Rights Reserved</p>

      <div class="legal-links" style="text-align:center;">
        <span style="text-align:center;">Made with <span uk-icon="heart" style="color: red"></span> by Health of India .</span>
      </div>
    </div>
  </footer>
  {% endblock footer %}
