{% extends "base-uikit.html" %}
{% load humanize %}

{% block css %}
  <style>
    .uk-card-title {
      font-size: 2rem;
      line-height: 1.4;
    }
  </style>
{% endblock %}

{% block content %}

  <article class="uk-article uk-margin-top">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">Health of India</a></h1>

    <p class="uk-article-meta">Written by Health of India team on 4th April 2020.
    </p>

    <p class="uk-text-lead">Contribute your bit by letting us know about your health condition. This small information
      can help
      a lot people and save a lot of resources when fighting against coronavirus. You would be asked a small set of
      questions to know about your health status.</p>

    <p>
      You might be wondering, what's the use of such an application? Here are 6 reason why you should do it:
    </p>
    <ol>
      <li>Find the number of people who have coronavirus like symptoms.</li>
      <li>Where are these sick people located?</li>
      <li>Channelize government sanitization effors in places where covid-19/sick patients were found.</li>
      <li>Which location are these sick people clustered?</li>
      <li>Health of citizens on a nationwide level</li>
      <li>Help data scientists forecast the next breakout by generating all this information.</li>
    </ol>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <div>
        <a href="{% url 'maps:health_form' %}" class="uk-button uk-button-secondary">Record Health</a>
      </div>
      <div>
        <a href="{% url 'maps:home' %}" class="uk-button uk-button-secondary">See Maps</a>
      </div>
    </div>
    <hr>

  </article>

  <h1>Coronavirus Stats in India</h1>
  <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ cases|intcomma }}</h3>
        <p>Total number of cases</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ todayCases|intcomma }}</h3>
        <p>Today's Cases</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ deaths|intcomma }}</h3>
        <p>Today's death</p>
      </div>
    </div>


    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ recovered|intcomma }}</h3>
        <p>Recovered</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ critical|intcomma }}</h3>
        <p>Critical</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ activeCases|intcomma }}</h3>
        <p>Active Cases</p>
      </div>
    </div>

  </div>

  <h1>Health of India Stats</h1>
  <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">{{ totalPeople|intcomma }}</h3>
        <p>Total number of people</p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body ">
        <h3 class="uk-card-title">{{ sickPeople|intcomma }}</h3>
        <p>Symptomatic People</p>
      </div>
    </div>

  </div>

  <div class="uk-margin-large"></div>

  {% comment %}
  2. Guidelines by WHO etc.
  <br>
  3. Helpline nos. in India
  <br><br>
  {% endcomment %}

{% endblock %}
