{% extends "base.html" %}

{% block content %}
  Cases: {{ cases }}<br>
  Today's Case: {{ todaysCases }}<br>
  Deaths so far: {{ deaths }}<br>
  Today's Death: {{ todayDeaths }}<br>
  Recovered so far: {{ recovered }}<br>
  Critical : {{ critical }}
  <br>
  2. Guidelines by WHO etc.
  <br>
  3. Helpline nos. in India

  <br><br>
  {% if user.is_authenticated %}
    <p>
      Tell us how well you are <a href="{% url 'maps:wellness_entry' %}">here.</a>
    </p>
  {% else %}
    <p>Please <a href="{% url 'account_login' %}">login</a> and let us know your health. So that we can keep everyone around you safe.</p>
  {% endif %}

{% endblock %}
