{% extends "base-uikit.html" %}

{% load static %}
{% load humanize %}


{% block content %}
<div class="container is-fullhd">
  <div class="section">
    <h3 class="subtitle is-3 has-padding-top-4">World's Latest News On COVID-19 </h3>
    <div class="columns is-multiline  is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">

      {% for source, news in news_dict.items %}
      {% for news in news %}

      <div class="column is-4">
        <div class="card is-centered has-text-left">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ news.urlToImage }}" alt="{{ news.title }}">
            </figure>
          </div>
          <div class="card-content">
            <h4 class="subtitle has-margin-bottom-8">{{ source }}</h4>
            <p class="subtitle is-7 ">{{ news.publishedAt|slice:10 }}</p>
            <p class="title is-4">
              {{ news.title|slice:50 }}..
            </p>
            <p class="subtitle is-6">
              {{ news.description|slice:100 }}..
            </p>
          </div>
          <footer class="card-footer has-background-black has-text-white">
            <p class="card-footer-item">
              <a target="_blank" href="{{ news.url }}" class="has-text-white">
                Read This
                News On {{ source }}
              </a>
            </p>
          </footer>
        </div>
      </div>
      {% endfor %}
      {% endfor %}


    </div>

  </div>
</div>
{% endblock %}
