{% extends "base-uikit.html" %}


{% block content %}
  <div class="uk-margin-top">
    <h1>News Board</h1>
  </div>

  {% for news_title, news_description, news_image_url, news_link in mylist %}

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <a href="{{ news_link }}">
        <div class="uk-card-media-left uk-cover-container">
          <img src="{{ news_image_url }}" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
      </a>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">{{ news_title }}</h3>
          <p>{{ news_description }}</p>
          <a class="uk-button uk-button-default" href="{{ news_link }}">Continue Reading</a>
        </div>
      </div>
    </div>

  {% endfor %}

  <div class="uk-margin-large"></div>
{% endblock %}
