{% extends "base-uikit.html" %}

{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
    <article class="uk-article uk-margin-top">

      <h1 class="uk-article-title"><a class="uk-link-reset" href="">Health of India</a></h1>

      <p class="uk-text-lead">Welcome, {{ object.username }}, Click on Record Health to continue.</p>

      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a href="{% url 'maps:health_form' %}" class="uk-button uk-button-primary">Record Health</a>
        </div>
      </div>
      <hr>

    </article>

    <div class="row">
      <div class="col-sm-12">

        <h2></h2>
{#        <p>Other Links</p>#}
      </div>
{#      <div class="uk-grid-small uk-child-width-auto" uk-grid>#}
{#        <div>#}
{#          <a href="{% url 'home' %}" class="uk-button uk-button-primary">Covid Stats</a>#}
{#        </div>#}
{#        <div>#}
{#          <a href="{% url 'maps:home' %}" class="uk-button uk-button-secondary">See Maps</a>#}
{#        </div>#}
{#        <div>#}
{#          <a href="{% url 'news:index' %}" class="uk-button uk-button-secondary">News Board</a>#}
{#        </div>#}
{#      </div>#}
    </div>

  </div>
{% endblock content %}

