{% extends "base-uikit.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  {% if form.non_field_errors %}
    {% for x in form.non_field_errors %}
      <div class="uk-alert-danger uk-margin" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ x }}</p>
      </div>
    {% endfor %}
  {% endif %}

  <div class="uk-align-center">

    <h1 class="uk-padding-top">{% trans "Sign In" %}</h1>
    <p>If you don't have an account, please <a href="{% url 'account_signup' %}">Sign Up</a></p>

    {% get_providers as socialaccount_providers %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" placeholder="Username" type="text" required id="id_username" name="login">
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" placeholder="Password" required name="password" id="id_password">
        </div>
      </div>

      <label for="id_remember">Remember Me:</label>
      <input type="checkbox" class="uk-checkbox" name="remember" id="id_remember">

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <p>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </p>
      <button class="uk-button uk-button-primary" type="submit">{% trans "Sign In" %}</button>
      <hr class="uk-divider-small">
      <p class="uk-margin">
        <a class="uk-button uk-button-primary" href="{% provider_login_url 'google' %}">Login with Google</a>
      </p>

      {#      </div>#}

    </form>
  </div>

{% endblock %}

