{% load static %}
{% load humanize %}
<div class="container is-fullhd">
  <div class="section">
    <h3 class="subtitle is-3 has-padding-top-6">Health of India Stats</h3>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">

      <div class="column ">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-people.png' %}"></figure>
          </div>
          <div class="card-content">
            <p class="title">
              {{ hoi_stats.totalPeople|intcomma }}
            </p>
            <p class="subtitle is-6">
              Total Number Of People
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-symptomatic.png' %}"></figure>
          </div>
          <div class="card-content">
            <p class="title">
              {{ hoi_stats.sickPeople|intcomma }}
            </p>
            <p class="subtitle is-6">
              Total Symptomatic People
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered is-custom-center" src="{% static 'images/homepage/shortness-breath.png' %}"></figure>
          </div>
          <div class="card-content">
            <p class="title">
              {{ hoi_stats.shortnessOfBreath|intcomma }}
            </p>
            <p class="subtitle is-6">
              Shortness Of Breath
            </p>
          </div>
        </div>
      </div>
      <div class="column" id="pnm">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-fever.png' %}"></figure>
          </div>
          <div class="card-content">
            <p class="title">
              {{ hoi_stats.fever|intcomma }}
            </p>
            <p class="subtitle is-6">
              People With Fever
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
