<h2 class="uk-article-title"><a class="uk-link-reset exo" href="">Health of India</a></h2>
<ul uk-accordion class="exo">
  <li class="">
    <a class="uk-accordion-title exo" href="#" style="color:#f65a7c;font-weight:400;margin-top:-20px">Know More</a>
    <div class="uk-accordion-content">
      <p class="uk-article-meta">Written by Health of India team on 4th April 2020.
      </p>

      <p class="uk-text-lead">Contribute your bit by letting us know about your health condition. This small
        information
        can help
        a lot people and save a lot of resources when fighting against coronavirus. You would be asked a small set of
        questions to know about your health status.</p>

      <p>
        You might be wondering, what's the use of such an application? Here are 6 reason why you should do it:
      </p>
      <ol>
        <li>Find the number of people who have coronavirus like symptoms.</li>
        <li>Where are these sick people located?</li>
        <li>Channelize government sanitization effors in places where covid-19/sick patients were found.</li>
        <li>Which location are these sick people clustered?</li>
        <li>Health of citizens on a nationwide level</li>
        <li>Help data scientists forecast the next breakout by generating all this information.</li>
      </ol>
    </div>
  </li>
</ul>
