{% load static %}
{% load humanize %}
<div class="container is-fullhd">

  <h3 class="subtitle is-3">Health of India Stats</h3>
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">

    <div class="column">
      <div class="card is-centered has-text-centered">
        <div class="card-content image is-128x128">
          <img class="has-text-centered" src="{% static 'images/homepage/total-people.png' %}">
        </div>
        <div class="card-content">
          <p class="title">
            {{ hoi_stats.totalPeople|intcomma }}
          </p>
          <p class="subtitle">
            Total Number Of People
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-centered has-text-centered">
        <div class="card-content image is-128x128">
          <img class="has-text-centered" src="{% static 'images/homepage/total-symptomatic.png' %}">
        </div>
        <div class="card-content">
          <p class="title">
            {{ hoi_stats.sickPeople|intcomma }}
          </p>
          <p class="subtitle">
            Total Symptomatic People
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-centered has-text-centered">
        <div class="card-content image is-128x128">
          <img class="has-text-centered" src="{% static 'images/homepage/shortness-breath.png' %}">
        </div>
        <div class="card-content">
          <p class="title">
            {{ hoi_stats.shortnessOfBreath|intcomma }}
          </p>
          <p class="subtitle">
            Shortness Of Breath
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-centered has-text-centered">
        <div class="card-content image is-128x128">
          <img class="has-text-centered" src="{% static 'images/homepage/total-fever.png' %}">
        </div>
        <div class="card-content">
          <p class="title">
            {{ hoi_stats.fever|intcomma }}
          </p>
          <p class="subtitle">
            People With Fever
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
