{% load static %}
{% load humanize %}
<div class="container is-fullhd">
  <div class="section">
    <h3 class="subtitle is-3 has-padding-top-6">COVID-19 Stats In India</h3>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">

      {% if covid19_stats.total_stats.confirmed %}
      <div class="column ">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-cases.png' %}"></figure>
          </div>
          <div class="card-content card-content-custom">
            {% if covid19_stats.total_stats.deltaconfirmed %}
            <h4>[+{{ covid19_stats.total_stats.deltaconfirmed|intcomma }}]</h4>
            {% endif %}
            <p class="title">
              {{ covid19_stats.total_stats.confirmed|intcomma }}
            </p>
            <p class="subtitle is-6">
              Total Number Of Cases
            </p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if covid19_stats.total_stats.recovered %}
      <div class="column ">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-recovered.jpg' %}"></figure>
          </div>
          <div class="card-content card-content-custom">
            {% if covid19_stats.total_stats.deltarecovered %}
            <h4>[+{{ covid19_stats.total_stats.deltarecovered|intcomma }}]</h4>
            {% endif %}
            <p class="title">
              {{ covid19_stats.total_stats.recovered|intcomma }}
            </p>
            <p class="subtitle is-6">
              Recovered
            </p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if covid19_stats.total_stats.active %}
      <div class="column ">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/active-cases.jpg' %}"></figure>
          </div>
          <div class="card-content card-content-custom">
            {% if covid19_stats.total_stats.deltaactive %}
            <h4>[+{{ covid19_stats.total_stats.deltaactive|intcomma }}]</h4>
            {% endif %}
            <p class="title">
              {{ covid19_stats.total_stats.active|intcomma }}
            </p>
            <p class="subtitle is-6">
              Active Cases
            </p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if covid19_stats.total_stats.deaths %}
      <div class="column ">
        <div class="card is-centered has-text-centered">
          <div class="card-content is-flex is-horizontal-center">
            <figure class='image is-96x96'><img class="has-text-centered" src="{% static 'images/homepage/total-deaths.png' %}"></figure>
          </div>
          <div class="card-content card-content-custom">
            {% if covid19_stats.total_stats.deltadeaths %}
            <h4>[+{{ covid19_stats.total_stats.deltadeaths|intcomma }}]</h4>
            {% endif %}
            <p class="title">
              {{ covid19_stats.total_stats.deaths|intcomma }}
            </p>
            <p class="subtitle is-6">
              Total Deaths
            </p>
          </div>
        </div>
      </div>
      {% endif %}


    </div>
    <h3 class="subtitle is-3 has-padding-top-6">Tests Performed In India</h3>
    <p class="subtitle is-5">Total samples tested: <b>{{ covid19_stats.tests_performed.totalsamplestested|intcomma }}</b></p>
    <p class="subtitle is-5">Total positive samples: <b>{{ covid19_stats.tests_performed.totalpositivecases|intcomma }}</b></p>

  </div>
</div>
