{% load static %}
{% load humanize %}
<div class="container is-fullhd">
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column has-text-centered">
      <button class="button is-danger is-outlined has-margin-bottom-7" onclick="findPatientsNearMe();">Show Help Near Me</button>
      <h2 id="status" class="subtitle"></h2>
      <h2 id="latitude" class="subtitle"></h2>
      <h2 id="longitude" class="subtitle"></h2>
      <h2 id="address" class="subtitle"></h2>
      <h2 id="infected_patients" class="subtitle"></h2>
      <h2 id="symptomatic_patients" class="subtitle"></h2>
      <h2  class="title is-6 has-text-info">The number of symptomatic patients around you depends on the number of people who are filling the health entry form.</h2>
    </div>
  </div>
</div>

{% block javascript %}
  <script>
    function findPatientsNearMe() {

      const latitude_field = document.querySelector('#latitude');
      const longitude_field = document.querySelector('#longitude');
      const infected_patients_field = document.querySelector('#infected_patients');
      const symptomatic_patients_field = document.querySelector('#symptomatic_patients');
      const address_field = document.querySelector('#address');
      const status = document.querySelector('#status');

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        latitude_field.innerHTML = `<b>Latitude: </b> ${latitude}`;
        latitude_field.style.display = "block";

        longitude_field.innerHTML = `<b>Longitude: </b> ${longitude}`;
        longitude_field.style.display = "block";

        {#infected_patients_field.style.display = "block";#}
        address_field.style.display = "block";
        symptomatic_patients_field.style.display = "block";


        status.textContent = 'Found your location. Looking for infected and symptomatic patients, nearby.';

        // fetching patients near me
        fetch(`/maps/patients_nearme?latitude=${latitude}&longitude=${longitude}`)
                .then((response) => {
                  return response.json();
                })
                .then((data) => {
                  console.log(data);
                  symptomatic_patients_field.innerHTML = `<b>Symptomatic Patients</b>: ${data.total}`;
                  address_field.innerHTML = `<b>Address</b>: ${data.address}`;
                });
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }
  </script>
{% endblock %}
