{% load static %}
{% load humanize %}
<div class="container is-fullhd">
  <div class="section">
    <h3 class="subtitle is-3 has-padding-top-6">COVID-19 State Wise Stats</h3>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
      <div class="column is-1 is-hidden-mobile">

      </div>

      <div class="column is-10 table-container has-text-centered">
        <table id="tablestate" class="has-text-centered display hover" style="width:100%">
          <thead>
            <tr>
              <th>State</th>
              <th>Active Cases</th>
              <th>Confirmed Cases</th>
              <th>Recovered Cases</th>
              <th>Total Deaths</th>
              <th>Date & Time Of Last Stats Update</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>State</th>
              <th>Active Cases</th>
              <th>Confirmed Cases</th>
              <th>Recovered Cases</th>
              <th>Total Deaths</th>
              <th>Date & Time Of Last Stats Update</th>
            </tr>
          </tfoot>
          <tbody>
            {% for state, values in covid19_stats.statewise.items %}
            <tr>
              <td>{{ state }}</td>
              <td>{{ values.active }}</td>
              <td>{{ values.confirmed }}</td>
              <td>{{ values.recovered }}</td>
              <td>{{ values.deaths }}</td>
              <td>{{ values.lastupdatedtime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#tablestate').DataTable({
      "order": [
        [1, "desc"]
      ],
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      "pagingType": "numbers"
    });
  });

</script>
{% endblock %}
