{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Health Status Form" %}{% endblock %}


{% block content %}

  <h1>Health Status Form</h1>
  <p>Fill out the form with correct information.</p>
  <p id="status"></p>
  <button id="find-me" class="btn btn-primary">Know my location</button>
  <hr>
  <form method="POST" action="{% url 'maps:health_form' %}">
    {% csrf_token %}

    {{ form|crispy }}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Submit" %}</button>
  </form>

{% endblock %}

{% block javascript %}
  <script>
    function geoFindMe() {

      const latitude_field = document.querySelector('#id_latitude');
      const longitude_field = document.querySelector('#id_longitude');
      const status = document.querySelector('#status');

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        latitude_field.value = latitude;
        longitude_field.value = longitude;
        status.textContent = 'Done. Thank You!';
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }

    window.addEventListener('DOMContentLoaded', (event) => {
      geoFindMe();
    });

    document.querySelector('#find-me').addEventListener('click', geoFindMe);
  </script>
{% endblock %}
