<!DOCTYPE html>
<html>
<head>
  <title>Maps | Health of India</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<div id="map"></div>

<script>

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {lat: 22.394646, lng: 78.117281}
    });


    fetch("{% url 'maps:map_markers' %}", {
      method: 'get'
    })
            .then(response => response.json())
            .then(function (jsonData) {
              console.log(jsonData);
              var markers = jsonData.map(function (x, i) {
                return new google.maps.Marker({
                  position: {lat: parseFloat(x['latitude']), lng: parseFloat(x['longitude'])},
                  label: "P" + x['id']
                });
              });

              // Add a marker clusterer to manage the markers.
              var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            })
            .catch(err => {
              alert("Unable to fetch information from server.");
            });

  } // End of function
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"
>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJn_L_tOJ9_XuosjgcneMNeHUJjHbVYoI&callback=initMap" async
        defer></script>
</body>
</html>
