{% extends "base-uikit.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "List of Health Entries" %}{% endblock %}

{% block content %}
  <h1 class="uk-margin-top">My Health</h1>
  <div class="uk-margin">
  Look at maps to visualize health entry data.
  </div>
  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <a href="{% url 'maps:home' %}" class="uk-button uk-button-secondary">See Maps</a>
    </div>
    <div>
      <a href="{% url 'news:index' %}" class="uk-button uk-button-secondary">News Board</a>
    </div>
  </div>

  <hr>

  <div class="uk-margin">
    <a href="{% url 'maps:health_form' %}">Record a new entry by clicking here.</a>
  </div>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fever</th>
      <th scope="col">Cough</th>
      <th scope="col">Difficulty in Breathing</th>
      <th scope="col">Self Quarantine</th>
      <th scope="col">Location</th>
      <th scope="col">Date & Time</th>
    </tr>
    </thead>
    <tbody>
    {% for x in entries %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ x.fever }}</td>
        <td>{{ x.cough }}</td>
        <td>{{ x.difficult_breathing }}</td>
        <td>{{ x.self_quarantine }}</td>
        <td><b>Lat</b>: {{ x.latitude }}, <b>Long</b>: {{ x.longitude }}</td>
        <td>{{ x.creation_timestamp }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="uk-margin-large"></div>
{% endblock %}

