{% extends "base-uikit.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Health Status Form" %}{% endblock %}


{% block content %}

  <div class="uk-margin-small">
    <br>
    <h1>Health Status Form</h1>
    <p>Please fill this form with correct information.</p>
  </div>

  <hr>

  <!-- Health entry form -->
  {% verbatim %}
  <div id="vue-app">
    <div class="uk-form-horizontal uk-margin-large">

      <!-- age -->
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">What is your age?</label>
        <div class="uk-form-controls">
          <input v-model="age" class="uk-input" id="form-horizontal-text" type="text" placeholder="Age">
        </div>
      </div>

      <!-- Gender -->
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">What is your gender?</label>
        <div class="uk-form-controls">
          <select v-model="gender" class="uk-select" id="form-horizontal-select">
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="O">Other</option>
          </select>
        </div>
      </div>

      <!-- Fever -->
      <div class="uk-margin">
        <div class="uk-form-label">Do you have fever?</div>
        <div class="uk-form-controls uk-form-controls-text">
          <input v-model="fever" class="uk-checkbox" type="checkbox" name="radio1">
        </div>
      </div>

      <!-- Cough -->
      <div class="uk-margin">
        <div class="uk-form-label">Do you have Cough?</div>
        <div class="uk-form-controls uk-form-controls-text">
          <input v-model="cough" class="uk-checkbox" type="checkbox" name="radio1">
        </div>
      </div>

      <!-- Difficulty in Breathing -->
      <div class="uk-margin">
        <div class="uk-form-label">Do you have any difficulty in breathing?</div>
        <div class="uk-form-controls uk-form-controls-text">
          <input v-model="difficult_breathing" class="uk-checkbox" type="checkbox" name="radio1">
        </div>
      </div>

      <!-- Self quarantined -->
      <div class="uk-margin">
        <div class="uk-form-label">Have you self-quarantined yourself?</div>
        <div class="uk-form-controls uk-form-controls-text">
          <input v-model="quarantine" class="uk-checkbox" type="checkbox" name="radio1">
        </div>
      </div>

      <br>
      <div class="uk-margin">
        <p>{{ form_status }}</p>
        <button v-on:click="submitForm" class="uk-button uk-button-primary">Submit</button>
      </div>
    </div>
  </div>

  <br><br><br>
  {% endverbatim %}
{% endblock %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    // Vue code
    var app = new Vue({
      el: "#vue-app",
      data: {
        age: 0,
        gender: "F",
        fever: false,
        cough: false,
        difficult_breathing: false,
        quarantine: false,
        form_status: ""
      },
      methods: {
        submitForm: function (event) {
          if (navigator.geolocation) {
            // Geolocation works
            this.form_status = "Locating...";

            navigator.geolocation.getCurrentPosition(function (position) {
              // We've received users current location
              // Note this variable wouldn't work inside this function scope
              const latitude = position.coords.latitude;
              const longitude = position.coords.longitude;
              app.form_status = "Location received. Thank you :)";

              alert(`${app.age}, ${app.gender}, ${app.fever}, ${app.cough}, ${app.difficult_breathing}, ${app.quarantine}, ${latitude}, ${longitude}`);

            }, function () {
              this.form_status = "We were unable to access your location. Please allow us to access your location to complete the form."
            });
          } else {
            // Geolocation not supported
            this.form_status = "Geolocation is not supported by your browser. You cannot fill this form."
          }
        }
      }
    });

    function geoFindMe() {

      const latitude_field = document.querySelector('#id_latitude');
      const longitude_field = document.querySelector('#id_longitude');
      const status = document.querySelector('#status');

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        latitude_field.value = latitude;
        longitude_field.value = longitude;
        status.textContent = 'Done. Thank You!';
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }

    window.addEventListener('DOMContentLoaded', (event) => {
      geoFindMe();
    });

    document.querySelector('#find-me').addEventListener('click', geoFindMe);
  </script>
{% endblock %}
