{% extends "base-uikit.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Health Status Form" %}{% endblock %}


{% block content %}

  <div class="uk-margin-small">
  <br>
    <h1>Health Status Form</h1>
    <p>Please fill this form with correct information.</p>
  </div>

  <hr>

  <!-- Health entry form -->
  <form class="uk-form-horizontal uk-margin-large" method="POST" action="{% url 'maps:health_form' %}">
    {% csrf_token %}
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">What is your age?</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Age">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-select">What is your gender?</label>
      <div class="uk-form-controls">
        <select class="uk-select" id="form-horizontal-select">
          <option>Female</option>
          <option>Male</option>
          <option>Other</option>
        </select>
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Do you have fever?</div>
      <div class="uk-form-controls uk-form-controls-text">
        <input class="uk-checkbox" type="checkbox" name="radio1">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Do you have Cough?</div>
      <div class="uk-form-controls uk-form-controls-text">
        <input class="uk-checkbox" type="checkbox" name="radio1">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Do you have any difficulty in breathing?</div>
      <div class="uk-form-controls uk-form-controls-text">
        <input class="uk-checkbox" type="checkbox" name="radio1">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Have you self-quarantined yourself?</div>
      <div class="uk-form-controls uk-form-controls-text">
        <input class="uk-checkbox" type="checkbox" name="radio1">
      </div>
    </div>

    <input type="hidden">
    <input type="hidden">
    <p id="status"></p>
    <br>
    <div class="uk-margin">
      <input type="submit" value="Submit" class="uk-button uk-button-primary">
      <button id="find-me" class="uk-button uk-button-default">Know my location</button>
    </div>

  </form>


{% endblock %}

{% block javascript %}
  <script>
    function geoFindMe() {

      const latitude_field = document.querySelector('#id_latitude');
      const longitude_field = document.querySelector('#id_longitude');
      const status = document.querySelector('#status');

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        latitude_field.value = latitude;
        longitude_field.value = longitude;
        status.textContent = 'Done. Thank You!';
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }

    window.addEventListener('DOMContentLoaded', (event) => {
      geoFindMe();
    });

    document.querySelector('#find-me').addEventListener('click', geoFindMe);
  </script>
{% endblock %}
