{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Wellness Entry" %}{% endblock %}


{% block content %}
  <h1>Wellness Entry Form</h1>
  <p>Keep track of how healthy you are. Please allow us to know your location, we need it to keep everyone safe!</p>
  <br>
<form method="POST" action="{% url 'maps:wellness_entry' %}">
  {% csrf_token %}

  {{ form|crispy }}
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}
